@inherits AddEditPersonDialogBase

<MudDialogContent Class="p-4">    
    <MudGrid GutterSize="3">       
      <MudItem xs="12" sm="12">
            @if (PersonId > 0)
            {
                <MudTabs Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6 row" Class="row">
                    <MudTabPanel Text="Details">
                        <hr />
                        <MudText>
                            <AddPersonForm PersonId="PersonId" RefreshPersonaGrid="RefreshPersonaGrid"></AddPersonForm>
                        </MudText>
                    </MudTabPanel>
                    <MudTabPanel Text="Family" Class="col" OnClick="LoadRelationshipTable">
                        <hr />
                        <MudText>
                            <button type="button" class="btn btn-primary" style="float: right; margin-bottom: 10px;" @onclick="ShowFamilyDialog">Add</button>
                            <h4>Family Relationships</h4>
                            @if (Relationships.Count > 0)
                            {
                                <MudTable Items="@Relationships">
                                    <HeaderContent>
                                        <MudTh>Name</MudTh>
                                        <MudTh>Relation</MudTh>
                                    </HeaderContent>
                                    <RowTemplate>
                                        <MudTd DataLabel="Nr">@context.RelatedPerson?.FirstName @context.RelatedPerson?.LastName</MudTd>
                                        <MudTd DataLabel="Sign">@context.RelationshipType?.Name</MudTd>
                                    </RowTemplate>
                                </MudTable>
                            }
                            else
                            {
                                <div class="text-center mt-5 pt-5">
                                    <MudIcon Icon="@Icons.Material.Filled.FamilyRestroom" Color="Color.Default" Size="Size.Small" Title="Person" />
                                    <h5>No family members</h5>
                                    <p class="text-sm text-muted-foreground">Add family relationships to this person</p>
                                </div>
                            }
                        </MudText>
                    </MudTabPanel>
                    <MudTabPanel Text="Account" Class="col">
                        <hr />
                        <AddPersonToUser PersonId="PersonId"></AddPersonToUser>
                    </MudTabPanel>
                </MudTabs>
            }
            else
            {
                <AddPersonForm PersonId="PersonId" RefreshPersonaGrid="RefreshPersonaGrid"></AddPersonForm>
            }
        </MudItem>
    </MudGrid>
</MudDialogContent>
